<footer class="bank-footer">
  <div class="container py-5 text-center text-lg-start">
    <div class="row">
      <div class="col-12 col-lg-5 mb-3">
        
        <div>
          <a type="button" class="bank-btn-social bank-btn-linkedin" 
            aria-label="Linkedin ">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a type="button" class="bank-btn-social bank-btn-twitter" href="https://twitter.com"
            aria-label="Twitter ">
            <i class="fab fa-twitter"></i>
          </a>
          <a type="button" class="bank-btn-social bank-btn-github" href="https://github.com"
            aria-label="Github ">
            <i class="fab fa-github"></i></a>
          <a type="button" class="bank-btn-social bank-btn-gitlab" href="https://gitlab.com"
            aria-label="Gitlab ">
            <i class="fab fa-gitlab"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3 text-center" style="background-color: black;">
    <div class="container">
      <a  routerLink="/"> www.bankapp.com</a>
    </div>
  </div>
</footer>